<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<h2><center>FORGET PASSWORD</center>
	</h2>


{%load static%}

      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" />
         <link rel="stylesheet" href="{% static 'css/loginpage_css.css' %}" type="text/css" />

 		<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jslogin.js' %}"></script>


</head>

<body>

<div class="container white z-depth-2">

		<div class="col s12">
			<div class="form-container">
				<div class="row">
					<div class="input-field col s12">
						<input id="unm" type="text" name="unm" class="validate">
						<label for="unm">Username</label>
					</div>
				</div>
                <div class="row">
					<div class="input-field col s12">
						<input id="email" name="email" type="text" class="validate" >
						<label for="email">Email</label>

					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="mno" type="text" name="mno" class="validate">
						<label for="mno">Mobile No</label>
					</div>
				</div>
				<br>
				<center>
					<button class="btn waves-effect waves-light teal" type="submit" id="forget" name="action">Get Password</button><br>
					<br>
					<a href="/client">Login</a>
				</center>

			</div>
        </div>
    </div>

</div>
</form>
</body>
</html>
